/*header {*/
/*    background-color: turquoise;*/
/*    border: solid black 2px;*/
/*    !*border-radius: 25px;*!*/
/*    padding: 1rem;*/
/*}*/


#hdp1 {
    font-family: Papyrus, fantasy;
    font-style: italic;
    font-size: xxx-large;

}

#hdp2, #hdp3 {
    font-family: Papyrus, fantasy;
    font-style: italic;
    font-size: large;

}

#hdimg1 {

    /*border-radius: 50%;*/
    display: inline-block;
    border: solid black 2px;

}

